<div class="exception-body error">
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12">
            <div class="loginStyle">
                <div class="exception-content">
                    <div class="vertical-center">
                        <div class="center">
                            <!--IMAGE-->
                        </div>
                    </div>
                    <h2>{{'WelcomeFTL' | translate}}</h2><br />
                    <h4>{{'EnterPass' | translate}}</h4><br />
                    <div>
                        <div class="p-field p-col-12 p-md-12">
                            <label for="email" class="p-sr-only pass"><span [translate]="'Email'"></span></label>
                            <input id="email" [feedback]="false" [(ngModel)]="email" type="email" pPassword placeholder="{{'Email' | translate}}">
                        </div><br /><br />
                        <div class="p-field p-col-12 p-md-12">
                            <label for="password" class="p-sr-only pass"><span [translate]="'Password'"></span></label>
                            <input id="newpassword" [feedback]="false" [(ngModel)]="password" type="password" pPassword placeholder="{{'Password' | translate}}">
                        </div><br /><br />

                        <div class="p-field p-col-12 p-md-12">
                            <label for="password" class="p-sr-only pass"><span [translate]="'confirmPassword'"></span></label>
                            <input id="confirmpassword" type="password" [(ngModel)]="newPassword" pInputText placeholder="{{'confirmPassword' | translate}}">
                        </div><br /><br />

                        <div class="p-field p-col-12 p-md-12">
                            <button id="savePsw" pButton type="button" (click)="setPassword()" label="{{'Save' | translate}}" class="p-button-raised p-button-success"></button> <br /><br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
