<div class="layout-sidebar" (click)="onMenuClick($event)">
    <a [routerLink]="['/']" class="logo">
        <img id="app-logo" class="logo-image" src="assets/layout/images/logoPF.png" />
        <br />
        <span class="app-name">PROJECT FIND</span>
    </a> 
    <div class="layout-menu-container">
        <ul class="layout-menu">
            <ng-container *ngFor="let item of model; let i = index;">
                <li app-menuitem *ngIf="!item.separator" [item]="item" [index]="i" [root]="true"></li>
                <li *ngIf="item.separator" class="menu-separator"></li>
            </ng-container>
        </ul>
    </div>
</div>
